<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/admin/student/post" method="post">
    生徒名前<input type="text" name="student_name" id=""><br>
    生徒パスワード<input type="password" name="student_login_password" id=""><br>
    学年
    <select name="student_grade">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select><br>
    クラス<input type="text" name="student_class"><br>
    クラス出席番号<input type="text" name="student_class_number"><br>
    <button type="submit">登録</button>
</form>
<p><a href="/admin">管理画面TOPへ</a></p>
</body>